<p>
    <!DOCTYPE html>
<html>
<head>
	<title>Lenguajes de programaci&oacute;n m&aacute;s usados seg&uacute;n el tipo de desarrollo</title>
</head>
<body background="/assets/imagen/img.jpg">
    <h1 class="entry-title">Lenguajes de programaci&oacute;n m&aacute;s usados seg&uacute;n el tipo de desarrollo</h1>

    <p></p>
    <div class="container-md" ><h4 style="color:purple;">Bienvenido hablaremos sobre Programacion</h4></div>
    <div  class="container-md" ><p style="color:purple;">Programación es el proceso de tomar un algoritmo y codificarlo en una notación, un lenguaje de programación, de modo que pueda ser ejecutado por una computadora. Aunque existen muchos lenguajes de programación y muchos tipos diferentes de computadoras, el primer paso es la necesidad de tener una solución. Sin un algoritmo no puede haber un programa.
  Las ciencias de la programación no son el estudio de la programación. La programación, sin embargo, es una parte importante de lo que hace un científico de la computación. La programación es a menudo la manera en la que creamos una representación para nuestras soluciones. Por tanto, esta representación en un lenguaje y el proceso de crearla se convierte en una parte fundamental de la disciplina.</p></div><br>
  <div class="container-md"><p style="color:purple;">la mayoría de lenguajes de programación proporcionan un tipo de datos para los enteros. Las cadenas de dígitos binarios en la memoria de la computadora pueden interpretarse como enteros y se les dan los significados típicos que comúnmente asociamos con los enteros (e.g. 23, 654 y -19). Además, un tipo de datos también proporciona una descripción de las operaciones en las que los ítems de datos pueden participar. Con enteros, son comunes las operaciones tales como la suma, la resta y la multiplicación. Podemos dar por sentado que los tipos de datos numéricos puedan participar en estas operaciones aritméticas.</p></div>
  <div class="container-md"><p style="color:purple;">No deben confundirse, sin embargo, con los distintos tipos de lenguaje informático. Estos últimos representan una categoría mucho más amplia, en donde están contenidos los lenguajes de programación y muchos otros protocolos informáticos, como el HTML de las páginas web.</p></div>
</body>
</html>
</p>
